<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tie_fighter">

 <xacro:include filename="$(find gazebo_spaceship)/urdf/thruster.urdf.xacro"/>

    <material name="white">
      <color rgba="1 1 1 1"/>
    </material>

    <link name="base_link">
      <visual>
        <geometry>
          <mesh filename="package://gazebo_spaceship/meshes/tie_fighter.stl" />
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://gazebo_spaceship/meshes/tie_fighter.stl" />
        </geometry>
      </collision>
      <inertia>
         <mass value="10.0"/>
         <inertia ixx="0.000002" ixy="0.0" ixz="0.0" iyy="0.000001" iyz="0.0" izz="0.000002"/>
      </inertia>
    </link>

    <!-- <link name="base_link">
      <visual>
        <geometry>
          <box size="2 2 2" />
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <geometry>
          <box size="2 2 2" />
        </geometry>
      </collision>
      <inertia>
         <mass value="10.0"/>
         <inertia ixx="0.000002" ixy="0.0" ixz="0.0" iyy="0.000001" iyz="0.0" izz="0.000002"/>
      </inertia>
    </link>-->

    <link name="top_thruster_link"/>

    <joint name="top_thruster_joint" type="fixed" >
      <parent link="base_link" />
      <child link="top_thruster_link" />
      <origin xyz="0 0 -1.3" rpy="0 0 0"/>
    </joint>

    <xacro:thruster name="top_thruster" parent="top_thruster_link">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:thruster>

    <link name="bottom_thruster_link"/>

    <joint name="bottom_thruster_joint" type="fixed" >
      <parent link="base_link" />
      <child link="bottom_thruster_link" />
      <origin xyz="0 0 -1.3" rpy="0 0 0"/>
    </joint>

    <xacro:thruster name="bottom_thruster" parent="bottom_thruster_link">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:thruster>

</robot>