<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="thruster" params="parent name *origin ">
    <joint name="${name}_base_joint" type="fixed" >
      <parent link="${parent}" />
      <child link="${name}_base_link" />
      <xacro:insert_block name="origin" />
    </joint>

    <link name="${name}_base_link">
      <visual>
        <geometry>
          <box size="0.1 0.1 0.3"/>
        </geometry>
        <material name="black"/>
      </visual>
    </link>

   <!--  <gazebo>
      <plugin name="${name}_propulsion" filename="libthruster_ros_plugin.so">
       <linkName>${namespace}/thruster_${thruster_id}</linkName>
        <jointName>${namespace}/thruster_${thruster_id}_joint</jointName>
        <thrusterID>${thruster_id}</thrusterID>
        <xacro:insert_block name="dynamics"/>
        <xacro:insert_block name="conversion"/>
      </plugin>
    </gazebo> -->

  </xacro:macro>
</robot>